@model PlanItem

<form asp-action="AddPlanItem" method="POST">
    <!-- Title -->
    <label asp-for="Title">Навазвание тренировки:</label>
    <input asp-for="Title">

    <!-- DueAt -->
    <!-- ..... -->

    <button type="submit">Добавить</button>
</form>