@model PlanViewModel
@using System.Globalization
@using Humanizer

@{ ViewData["Title"] = "Тренировочный план на неделю"; }

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Тренировка</td>
                <td>Когда</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items) {
        <tr>
            <td>
                <input type="checkbox" class="done-checkbox">
            </td>
            <td>@item.Title</td>
            <td>@item.DueAt.Humanize(culture: new CultureInfo("ru-RU"))</td>
        </tr>
        }
    </table>
    <div class="panel-footer add-plan-item-form">
        @await Html.PartialAsync(
            "AddPlanItemPartial",
            new PlanItem() {
                DueAt = DateTime.Now.AddDays(1),
                Time = new TimeSpan(8, 0, 0)
            }
        )
    </div>
</div>